@import "../../scss/base.scss";

.success-card {
  @include lg-card();

  .logo {
    img {
      @include sm-logo();
    }
  }

  .info-label {
    @include successInfo-label();

    h5 {
      color: $placeholder-color;
      margin: 0;
      background: #dadce0d9;
      padding: 10px 20px;
      border-radius: 0px 15px 0px 0px;
      box-shadow: 0 0 25px 3px #a7a7a7;
    }

    p {
      color: #a0a0a0d9;
      padding-left: 15px;
      margin: 0;
      font-weight: 600;
    }
  }

  .actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    .new-account{
      button{
        @include text-btn();
      }
    }
    .move{
      button{
        padding: 8px 10px;
        @include blue-btn();
      }
    }
  }
}


@media screen and (max-width:420px) {
  .success-card{
    border: none !important;
  }
  .info-label{
    grid-template-columns: 5fr 9fr !important;
    h5{
      padding: 10px 11px !important;
    }
  }
  }
