<div class="register-form">
  <div class="row">
    <div class="left-side col-lg-7">
        <div class="logo">
            <img class="google-logo" src="../../../assets/google-logo.png" alt="">
        </div>
      <div class="title">
        <h4>Google Hesabınızı oluşturun</h4>
      </div>
      <div class="form-content">
        <form>
          <div class="names-info">
            <div class="row">
              <div class="name col-sm-6 pr-0">
                <input type="text" placeholder="Ad" />
              </div>
              <div class="surname col-sm-6">
                <input type="text" placeholder="Soyad" />
              </div>
            </div>
          </div>
          <div class="email">
            <input type="text" placeholder="Kullanıcı Adı" />
            <div class="input-span">
              Harf,rakam ve nokta işaretini kullanabilirsiniz.
            </div>
            <div class="email-action">
              <div class="button">
                <a href="">Bunun yerine, geçerli e-posta adresimi kullan</a>
              </div>
            </div>
          </div>
          <div class="password-confirmPass">
            <div class="row">
              <div class="password col-sm-5 pr-0">
                <input type="password" placeholder="Şifre" />
              </div>
              <div class="confirm-password col-sm-5 pr-0">
                <input type="password" placeholder="Onayla" />
              </div>
              <div class="show-icon col-sm-2 d-flex align-items-center">
                <i class="far fa-eye-slash"></i>
              </div>
            </div>
            <div class="input-span">
              8 veya daha fazla harf, rakam ve sembolü karışık olarak kullanın
            </div>
          </div>
          <div class="form-actions">
            <div class="d-flex justify-content-between align-items-center">
              <div class="text-button">
                <button>Bunun yerine oturum aç</button>
              </div>
              <div class="submit-button">
                <button>İleri</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="right-side col-5">
      <div class="image">
        <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt="" />
        <div class="catchword">
            <p>Tek hesap. Tüm Google emrinizde.</p>
        </div>
    </div>
    </div>
  </div>
</div>
