<div class="register-card">
  <div class="row">
    <div class="left-side col-lg-7">
      <div class="logo">
        <img
          class="google-logo"
          src="../../../assets/google-logo.png"
          alt="google-logo"
        />
      </div>
      <div class="title">
        <h4>Google Hesabınızı oluşturun</h4>
      </div>
      <div class="register-form">
        <form [formGroup]="userForm" (submit)="submitForm()">
          <!--   ------   NAME INPUT    ------   -->
          <div class="names-info">
            <div class="row">
              <div class="name col-sm-6 pr-0">
                <input
                  type="text"
                  placeholder="Ad"
                  formControlName="name"
                  [ngClass]="
                    formError && nameErrors
                      ? 'error-input-border'
                      : formError && !nameErrors && 'valid-border'
                  "
                />
                <div *ngIf="formError && nameErrors" class="errors">
                  <p *ngIf="nameErrors.required">
                    <i class="fas fa-exclamation-circle error-icon"></i>
                    Adınızı Girin
                  </p>
                  <p *ngIf="nameErrors.minlength">
                    <i class="fas fa-exclamation-circle error-icon"></i>Minimum
                    {{ nameErrors.minlength.requiredLength }} karakter girin
                  </p>
                </div>
              </div>
              <div class="lastName col-sm-6">
                <input
                  type="text"
                  placeholder="Soyad"
                  formControlName="lastName"
                  [ngClass]="
                    formError && lastnameErrors
                      ? 'error-input-border'
                      : formError && !lastnameErrors && 'valid-border'
                  "
                />
                <div *ngIf="formError && lastnameErrors" class="errors">
                  <p *ngIf="lastnameErrors.required">
                    <i class="fas fa-exclamation-circle error-icon"></i>
                    Soyadınızı Girin
                  </p>
                  <p *ngIf="lastnameErrors.minlength">
                    <i class="fas fa-exclamation-circle error-icon"></i>Minimum
                    {{ lastnameErrors.minlength.requiredLength }} karakter girin
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--            EMAIL INPUT            -->

          <div class="email">
            <input
              type="text"
              placeholder="Kullanıcı Adı"
              formControlName="email"
              [ngClass]="
                formError && emailErrors
                  ? 'error-input-border'
                  : formError && !emailErrors && 'valid-border'
              "
            />
            <div *ngIf="formError && emailErrors" class="errors">
              <p *ngIf="emailErrors.required">
                <i class="fas fa-exclamation-circle error-icon"></i>
                Gmail Adresi Seçin
              </p>
              <p *ngIf="emailErrors.invalidEmail">
                <i class="fas fa-exclamation-circle error-icon"></i>
                Geçerli bir email adresi girin
              </p>
            </div>
            <div [hidden]="formError" class="input-span">
              Harf,rakam ve nokta işaretini kullanabilirsiniz.
            </div>
            <div class="email-action">
              <div class="button">
                <a href="">Bunun yerine, geçerli e-posta adresimi kullan</a>
              </div>
            </div>
          </div>

          <!--            PASSWORD & CONFIRM PASSWORD INPUTS           -->

          <div class="password-confirmPass">
            <div class="body">
              <div class="inputs">
                <div class="password">
                  <input
                    type="password"
                    placeholder="Şifre"
                    formControlName="password"
                    [ngClass]="
                      formError && passwordErrors
                        ? 'error-input-border'
                        : formError && !passwordErrors && 'valid-border'
                    "
                  />
                  <div *ngIf="formError && passwordErrors" class="errors">
                    <p *ngIf="passwordErrors.required">
                      <i class="fas fa-exclamation-circle error-icon"></i>
                      Bir Şifre Girin
                    </p>
                    <p *ngIf="passwordErrors.minlength">
                      <i class="fas fa-exclamation-circle error-icon"></i
                      >Minimum
                      {{ passwordErrors.minlength.requiredLength }} karakter
                      girin
                    </p>
                  </div>
                </div>
                <div class="confirm-password ml-3">
                  <input
                    type="password"
                    placeholder="Onayla"
                    formControlName="confirmPassword"
                    [ngClass]="
                      formError && confirmPasswordErrors && !passwordErrors
                        ? 'error-input-border'
                        : formError && !passwordErrors && 'valid-border'
                    "
                  />
                  <div
                    *ngIf="formError && confirmPasswordErrors"
                    class="errors"
                  >
                    <p
                      *ngIf="
                        !passwordErrors &&
                        confirmPasswordErrors.passwordMismatch
                      "
                    >
                      <i class="fas fa-exclamation-circle error-icon"></i>
                      Şifreler eşleşmiyor
                    </p>
                  </div>
                </div>
              </div>
              <div class="show-icon">
                <i class="far fa-eye-slash"></i>
              </div>
              <div [hidden]="formError" class="input-span">
                6 veya daha fazla harf, rakam veya sembol kullanın
              </div>
            </div>
          </div>

          <!--            FORM ACTIONS           -->

          <div class="form-actions">
            <div class="d-flex justify-content-between align-items-center">
              <div class="text-button">
                <button>Bunun yerine oturum aç</button>
              </div>
              <div class="submit-button">
                <button type="submit">İleri</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="right-side col-5">
      <div class="image">
        <img
          src="https://ssl.gstatic.com/accounts/signup/glif/account.svg"
          alt=""
        />
      </div>
      <div class="catchword">
        <p>Tek hesap. Tüm Google emrinizde.</p>
      </div>
    </div>
  </div>
</div>
