@import "../../scss/base.scss";

.register-card {
  @include lg-card();

  .left-side {
    .logo {
      img {
        margin-bottom: 15px;
        max-width: 75px;
      }
    }

    .title {
      h4 {
        font-weight: 400;
      }
    }

    .register-form {
      padding: 24px 18px 0 0px;
      form {
        // -- INPUT FOCUS TEXT STYLING -- //
        .input-focus-text {
          @include input-focus-text();
        }
        input:focus + span.input-focus-text {
          display: block;
        }
        .invalid-focus-text {
          color: red !important;
          display: block !important;
        }
        // -- INPUT STYLING -- //
        input {
          padding: 2px 9px 7px 9px;
          margin: 10px 0;
          width: 100%;
          transition: 200ms ease-in-out;
          @include input-styling();

          &::placeholder {
            font-size: 14px;
          }
          &:focus {
            content: "asdadasd";
            transition: 200ms ease-in-out;
            border: 2px solid $blue-color;
            &::placeholder {
              color: #ffffff00;
            }
          }
        }

        // -- EMAIL BOTTOM TEXT STYLING -- //
        .input-span {
          font-size: 12px;
        }

        .email-action {
          button {
            text-align: left;
            @include text-btn();
          }
        }
      }

      .password-confirmPass {
        margin-top: 15px;
        .body {
          display: grid;
          grid-template-columns: 12fr 1fr;
          grid-column-gap: 10px;

          .inputs {
            display: flex;
          }
        }

        // -- PASSWORD SHOW - HIDE ICON STYLING -- //
        .show-icon {
          font-size: 20px;
          margin-top: 12px;
          button {
            @include icon-btn();
          }
        }
      }
    }

    // -- FORM ACTION BUTTONS -- //
    .form-actions {
      margin-top: 35px;
      .text-button {
        button {
          text-align: left;
          @include text-btn();
        }
      }

      .submit-button {
        button {
          padding: 8px 32px;
          @include blue-btn();

          &:hover {
            background: darken($blue-color, $amount: 10%);
          }
        }
      }
    }
  }

  .right-side {
    padding-left: 30px;
    flex-direction: column;
    @include item-centered();

    .image {
      width: 100%;
    }
    .catchword {
      p {
        color: $placeholder-color;
        font-size: 15px;
      }
    }
  }
}

//        VALIDATION ERROR STYLING          //

.errors {
  p {
    color: #d93025;
    font-size: 12px;
    margin: 0;
    margin-bottom: 2px;
  }

  .error-icon {
    margin: 3px 5px 0 0;
  }
}

.error-input-border {
  border: 2px solid red !important;
}

.valid-border {
  border: 2px solid $blue-color !important;
}

//        RESPONSİVE CODES          //

@media screen and (max-width: 991px) {
  .register-form {
    max-width: 450px !important;
  }
  .right-side {
    display: none !important;
  }
}
@media screen and (max-width: 575px) {
  .password-confirmPass {
    .inputs {
      flex-direction: column;
      .confirm-password {
        margin-left: 0 !important;
      }
    }
  }
  .register-form {
    padding: 0 15px;
    border: none;

    .name,
    .password,
    .confirm-password {
      padding-right: 15px !important;
    }
  }
}
