@import "../../scss/base.scss";

.register-form {
  padding: 40px;
  border: 1px solid $border-color;
  border-radius: 10px;
  max-width: 750px;
  transition: 700ms ease-in-out;

  .left-side {
    
    .logo {
      img {
        margin-bottom: 15px;
        max-width: 75px;
      }
    }

    .title {
      h4 {
        font-weight: 400;
      }
    }

    .form-content {
      padding: 24px 18px 0 0px;
      form {
        input {
          padding: 2px 9px 7px 9px;
          margin: 10px 0;
          width: 100%;
          @include input-styling();

          &::placeholder {
            font-size: 14px;
          }
        }

        .input-span {
          font-size: 12px;
        }
        .email-action {
          .button {
            a {
              color: $blue-color;
              font-size: 13px;
              font-weight: 600;
            }
          }
        }
      }

      .password-confirmPass {
        margin-top: 15px;
        .body {
          display: grid;
          grid-template-columns: 12fr 1fr;
          grid-column-gap: 10px;

          .inputs {
            display: flex;
          }
        }
        .show-icon {
          font-size: 20px;
          margin-top: 15px;
        }
      }
    }

    .form-actions {
      margin-top: 35px;
      .text-button {
        button {
          border: none;
          background: none;
          color: $blue-color;
          font-size: 14px;
          font-weight: 600;
          border-radius: 5px;
          padding: 5px 1px;

          &:hover {
            background: rgba(117, 200, 255, 0.116);
          }
        }
      }

      .submit-button {
        button {
          padding: 8px 32px;
          @include blue-btn();

          &:hover {
            background: darken($blue-color, $amount: 10%);
          }
        }
      }
    }
  }

  .right-side {
    padding-left: 30px;
    flex-direction: column;
    @include item-centered();

    .image {
      width: 100%;
    }
    .catchword {
      p {
        color: $placeholder-color;
        font-size: 15px;
      }
    }
  }
}


//        VALIDATION ERROR STYLING          //

.errors {
  p {
    color: #d93025;
    font-size: 12px;
    margin: 0;
    margin-bottom: 2px;
  }

  .error-icon {
    margin: 3px 5px 0 0;
  }
}

.error-input-border {
  border: 2px solid red !important;
}




//        RESPONSİVE CODES          //

@media screen and (max-width: 991px) {
  .register-form {
    max-width: 450px !important;
  }
  .right-side {
    display: none !important;
  }
}
@media screen and (max-width: 575px) {
  .password-confirmPass {
    .inputs {
      flex-direction: column;
      .confirm-password {
        margin-left: 0 !important;
      }
    }
  }
  .register-form {
    padding: 0 15px;
    border: none;

    .name,
    .password,
    .confirm-password {
      padding-right: 15px !important;
    }
  }
}
